@if(this.subscription && this.subscription.closed){
<form class="mt-3" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-8 pb-16">
    @for(field of fields; track $index ){
    <div class="field-row">
      <div class="field-label">
        <label
          [for]="field.name"
          [ngClass]="{ required: field.required }"
          nz-tooltip
          [nzTooltipTitle]="
            field.descriptionShowType === 'TOOLTIP' ? field.description : ''
          "
          >{{ field.title }}</label
        >
      </div>
      <div class="field-input">
        <input
          nz-input
          [type]="field.type === 'TEXT' ? 'text' : 'password'"
          [id]="field.name"
          [formControlName]="field.name"
          [placeholder]="
            field.descriptionShowType !== 'TOOLTIP'
              ? field.description ?? ''
              : ''
          "
        />
        @if(form.get(field.name)?.invalid && form.get(field.name)?.touched){
        <p>
          {{ field.errorMessage }}
        </p>
        }
      </div>
    </div>
    }
  </div>
  <!-- <div class="field-row">
        <div class="field-label">
          <label for="confirmPassword" class="required">Re-enter Password:</label>
        </div>
        <div class="field-input">
          <input
            nz-input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder="Re-enter your password"
          />
          @if(form.hasError('mismatch') && form.get('confirmPassword')?.touched){
          <p nz-tooltip nzTooltipTitle="The entered password is not acceptable.">
            The entered password is not acceptable.
          </p>
          }
        </div> -->

  <div class="flex items-center justify-between">
    <button nz-button type="button" (click)="onReset()">Reset</button>
    <button nz-button type="submit" nzType="primary">Register</button>
  </div>
</form>
}
